.name-container{
    display: flex;
    opacity: 0.50;
}
.border-todolist-name{
    border-bottom: 2px solid rgb(78, 113, 210);
}
.btn-delete-task{
    margin-left: 5px;
    margin-top: 20px;
    width: 25px;
    height: 25px;
}

.filters-container{
    border-top: 2px solid rgb(78, 113, 210);
}
.task-container{
    border-bottom: 2px solid rgb(78, 113, 210);
}